.box {
    background-color: #79797f;
    width: 150px;
    height: 150px;
    transition-property: box;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.box:hover {
    background-color: #e84610;
}